.idea
node_modules
cli
dist
.env
.DS_Store
stats.json
yarn-error.log

# Ignore config files
/config/*

# except default.json which is maintained
!/config/default.json

# Coverage directory used by tools like istanbul
coverage
